body {
    background-color: saddlebrown;
}


h1 {
    font: oblique 40px monospace;
  color: white;
}

h2 { 
    font: 30px monospace;
    color: white;
}

h3 {
    font: 20px monospace;
    color: white;
}

p {
    font-family: Times New Roman;
    font-size: 18px;
    color: antiquewhite;
        
}

li {
    border: 1px dotted black;
    color: white
}

ul { 
    font-size: 20px
}

a {
    color: aqua;
}
